.DS_Store
/.idea/.idea.cordova-plugin-twilio-video.dir/.idea/.gitignore
/.idea/.idea.cordova-plugin-twilio-video.dir/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.cordova-plugin-twilio-video.dir/.idea/encodings.xml
/.idea/.idea.cordova-plugin-twilio-video.dir/.idea/indexLayout.xml
/.idea/.idea.cordova-plugin-twilio-video.dir/.idea/misc.xml
/.idea/.idea.cordova-plugin-twilio-video.dir/riderModule.iml
/.idea/.idea.cordova-plugin-twilio-video.dir/.idea/vcs.xml
